<%= link_to '<- Back', root_path, class:'btn btn-primary' %>

<div class="my-3">
  <h2> <%= @idea.title %> </h2>
  <small>By <%= @idea.user.name %> - <%= pluralize(@idea.likes.count, 'like' ) %></small>
  <p> <%= @idea.description %> </p>

  <%= link_to 'Edit', edit_idea_path(@idea), class: 'btn btn-warning' %>

  <%= link_to(
    'Delete', 
    idea_path,
    method: :delete,
    data: {confirm: "Are you sure you want to delete this great idea?"}, 
    class: 'btn btn-danger' )%>
  
  <% if @like.present? %>
    <%= 
      link_to(
        "Unlike",
        idea_like_path(@idea, @like),
        method: :delete,
        class: "btn btn-danger"
      )
    %>
  <% else %>
    <%= 
      link_to(
        "Like",
        idea_likes_path(@idea),
        method: :post,
        class: "btn btn-primary"
      )
    %>
  <% end %>

</div>
<% if user_signed_in? %>
  <%= form_with model: [@idea, @review], local: true do |form| %>
    <div>
      <%= form.label :rating%>
      <%= form.number_field( :rating, {min: 1, max: 5} )%>
    </div>
    <div>
      <%= form.text_area(
        :description,
        cols: 50,
        rows: 5,
        placeholder: "What do you think?"
      ) %>
    </div>
    <%= form.submit "Review" %>
  <% end %>
<% end %>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <p>
        <%= review.rating %> - <%= review.description %> <br>
        <% if can?(:destroy, review) %>
          <small>
          <%= link_to(
            'Delete', 
            review_path(review),
            method: :delete,
            data: { confirm: "Are you sure?" }
          ) %>
          </small>
        -
        <% end %>
        <small>
          Reviewed <%= time_ago_in_words(review.created_at) %> ago 
          by <%= review.user.name %>
        </small>
      </p>
    </li>
  <% end %>
</ul>